
body {
  background: #e2e1e0;
  text-align: center;
}

.card {
  box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.81);
  margin: 1rem;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  background: #fff;
  display: inline-block;
  width: 50rem;
  padding: 2rem;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.table-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.button-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  float: right;
}