<!DOCTYPE html>
<html>
<head>
	<title>Oramon</title>
</head>
<script src="/vue/vue.js"></script>
<script src="/vueres/vue-resource.js"></script>
<script src="/mdlscript/material.js"></script>

<link rel="stylesheet" type="text/css" href="/mdl/material.min.css" media="screen" />

<link rel="stylesheet" type="text/css" href="/item/1.css" media="screen" />

<body>
	<div class="card" id="list-tables">
		<div v-show="loading" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
		
		<span class="mdl-textfield">
			OracleDB table to mongoDB document.
		</span>

		<table class="table-container mdl-card--border mdl-data-table mdl-js-data-table mdl-js-data-table mdl-shadow--2dp">
			<thead>
				<tr>
					<th class="mdl-data-table__cell--non-numeric">Select Tables</th>
					<th class="mdl-data-table__cell--non-numeric">Table Name</th>
					<th class="mdl-data-table__cell--non-numeric">Table to Embedded</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="table in tables" v-bind:key="table.name">
					<td class="mdl-data-table__cell--non-numeric">
						<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" :for="table.name">
							<input type="checkbox" class="mdl-checkbox__input" :id="table.name" v-model="table.checked">
						</label>
					</td>
					<td class="mdl-data-table__cell--non-numeric">
						{{table.name}}
					</td>
					<td class="mdl-data-table__cell--non-numeric">
						<div class="" v-show=table.fk_flag :disabled="!table.checked">
							<select v-model="table.fk_selected">
								<option v-for="option in table.fk_array">{{option}}</option>
							</select>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<button class="button-container mdl-button mdl-js-button mdl-button--raised mdl-button--colored" v-on:click="submit">
			Submit
		</button>

		<div v-show=debug_mode>
			<span>
				<h4>Tables:</h4> {{tables}}
			</span>
		</div>
	</div>
</body>

<script src="/item/1.js"></script>
</html>

