<!DOCTYPE html>
<html>
<head>
	<title>Oramon 1</title>
</head>

<script src="/vue/vue.js"></script>
<script src="/vueres/vue-resource.js"></script>

<link rel="stylesheet" type="text/css" href="/milligram/milligram.css" media="screen"/>
<link rel="stylesheet" type="text/css" href="/normalize/normalize.css" media="screen"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
<link rel="stylesheet" type="text/css" href="/item/1.css" media="screen" />

<body>
	<div class="card" id="list-tables">
		<div v-show="loading" class=""></div>
		
		<span class="">
			OracleDB table to mongoDB document.
		</span>

		<table class="	">
			<thead>
				<tr>
					<th class="">
						<label class="" lass="">
							<input type="checkbox" class="" @click="selectAll" :checked="allSelected">
						</label>
					</th>
					<th class="">Table Name</th>
					<th class="">Table to Embedded</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="table in tables" v-bind:key="table.name">
					<td class="">
						<label class="" :for="table.name">
							<input type="checkbox" class="" @click="check" v-model="table.checked">
						</label>
					</td>
					<td class="">
						{{table.name}}
					</td>
					<td class="">
						<div class="" v-show=table.fk_flag :disabled="!table.checked">
							<select v-model="table.fk_selected">
								<option v-for="option in table.fk_array">{{option}}</option>
							</select>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<button class="button-container" v-on:click="submit">
			Submit
		</button>

		<div v-show=debug_mode>
			<span>
				<h4>Tables:</h4> {{tables}}
			</span>
		</div>
	</div>
</body>
<script src="/item/1.js"></script>
</html>

