<!DOCTYPE html>
<html>
<head>
	<title>Homepage</title>
</head>

<link rel="stylesheet" type="text/css" href="/milligram/milligram.css" media="screen"/>
<link rel="stylesheet" type="text/css" href="/normalize/normalize.css" media="screen"/>
<link rel="stylesheet" type="text/css" href="/main.css" media="screen" />


<body class="" style="">
		<h1>
			<a class="mdl-color-text--blue" href="/item/1.html">1</a>
		</h1>
		<h1>
			<a class="mdl-color-text--blue" href="/item/2.html">2</a>
		</h1>
		<h1>
			<a class="mdl-color-text--blue" href="/item/3.html">3</a>
		</h1>
		<h1>
			<a class="mdl-color-text--blue" href="/item/4.html">4</a>
		</h1>

	</div>
</body>
</html>